---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-12 py-3">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p class="lead mt-3 text-center">Welcome! I'm Adam, also known as "PhantomBruv" in the gaming world. Devoted gamer, competitor and passionate content creator.</p>
                </div>
            </div>
            <div class="social-media-icons">
                <div class="row">
                    <div class="col-12">
                      <a href="https://www.twitch.tv/PhantomBruv" target="_blank"><i class="fab fa-twitch"></i><span class="sr-only">Follow PhantomBruv on Twitch</span></a>
                      <a href="https://www.youtube.com/PhantomBruv" target="_blank"><i class="fab fa-youtube"></i><span class="sr-only">Follow PhantomBruv on YouTube</span></a>
                      <a href="https://www.instagram.com/PhantomBruv" target="_blank"><i class="fab fa-instagram"></i><span class="sr-only">Follow PhantomBruv on Instagram</span></a>
                      <a href="https://www.tiktok.com/@phantombruv" target="_blank"><i class="fab fa-tiktok"></i><span class="sr-only">Follow PhantomBruv on TikTok</span></a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                      <a href="https://twitter.com/PhantomBruv" target="_blank"><i class="fab fa-twitter"></i><span class="sr-only">Follow PhantomBruv on Twitter</span></a>
                      <a href="https://facebook.com/PhantomBruv" target="_blank"><i class="fab fa-facebook"></i><span class="sr-only">Follow PhantomBruv on Facebook</span></a>
                      <a href="https://discord.gg/MctB4kk" target="_blank"><i class="fab fa-discord"></i><span class="sr-only">Follow PhantomBruv and join the BOZO Squad Gaming Community Discord</span></a>
                      <a href="https://teespring.com/stores/bozo-squad" target="_blank"><i class="fas fa-shopping-cart"></i><span class="sr-only">Buy some merch at the BOZO Squad Gaming Community Store</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
