---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="lead">My name is Adam and I go by the name DaPolishPhantom on my PlayStation. I play FPS games like Call of Duty, The Division and Destiny.</p>
            <p>I've lived in Melbourne, Australia for the last 7 years. I grew up in London and was born in England. I speak fluent Polish thanks to my parents. I work full time as a Senior Web Developer with a degree in Computer Science. In my free time, I enjoy lifting weights, riding my bike, playing American Football and playing Soccer.</p>
            <p>I became a Gaming video creator because I wanted to share all the funny moments and tips I find out whilst playing. My console of choice is the PS4. I play with my friends sometimes even solo, have a laugh and keep the vibes flowing. This recipe was an opportunity to connect gamers and create a safe place for people to chill and play together. This is why the BOZO Squad Gaming Community was built.</p>
            <p>Thanks so much for taking the time to stop by. Feel free to drop in and chat with me on one of my streams, catch you around.</p>
            <div class="social-media-icons">
                <a href="https://www.youtube.com/DaPolishPhantom" target="_blank"><i class="fab fa-youtube"></i><span class="sr-only">Follow DaPolishPhantom on YouTube</span></a>
                <a href="https://twitter.com/DaPolishPhantom" target="_blank"><i class="fab fa-twitter"></i><span class="sr-only">Follow DaPolishPhantom on Twitter</span></a>
                <a href="https://fb.gg/DaPolishPhantom" target="_blank"><i class="fab fa-facebook"></i><span class="sr-only">Follow DaPolishPhantom on Facebook</span></a>
                <a href="https://www.instagram.com/DaPolishPhantom" target="_blank"><i class="fab fa-instagram"></i><span class="sr-only">Follow DaPolishPhantom on Instagram</span></a>
                <a href="https://discord.gg/MctB4kk" target="_blank"><i class="fab fa-discord"></i><span class="sr-only">Follow DaPolishPhantom and join the BOZO Squad Gaming Community Discord</span></a>
            </div>
        </div>
    </div>
</div>
