---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-12 py-3">
            <p class="lead">My name is Adam and I go by the name DaPolishPhantom on my PlayStation. I play FPS games like Call of Duty and love looters like The Division and Destiny.</p>
            <p>I became a Gaming video creator because I wanted to share all the funny moments and tips I find out whilst playing. I play with my friends sometimes even solo, have a laugh and grind. This recipe was an opportunity to connect gamers and create a safe place for people to play together and make friends. This is why the BOZO Squad Gaming Community was built.</p>
            <p>Thanks so much for taking the time to stop by and I hope to chat with you on my streams.</p>
            <div class="social-media-icons">
                <a href="https://www.youtube.com/DaPolishPhantom" target="_blank"><i class="fab fa-youtube"></i><span class="sr-only">Follow DaPolishPhantom on YouTube</span></a>
                <a href="https://twitter.com/DaPolishPhantom" target="_blank"><i class="fab fa-twitter"></i><span class="sr-only">Follow DaPolishPhantom on Twitter</span></a>
                <a href="https://fb.gg/DaPolishPhantom" target="_blank"><i class="fab fa-facebook"></i><span class="sr-only">Follow DaPolishPhantom on Facebook</span></a>
                <a href="https://www.instagram.com/DaPolishPhantom" target="_blank"><i class="fab fa-instagram"></i><span class="sr-only">Follow DaPolishPhantom on Instagram</span></a>
                <a href="https://www.tiktok.com/@DaPolishPhantom" target="_blank"><i class="fab fa-tiktok"></i><span class="sr-only">Follow DaPolishPhantom on TikTok</span></a>
                <a href="https://discord.gg/MctB4kk" target="_blank"><i class="fab fa-discord"></i><span class="sr-only">Follow DaPolishPhantom and join the BOZO Squad Gaming Community Discord</span></a>
                <a href="https://teespring.com/stores/bozo-squad" target="_blank"><i class="fas fa-shopping-cart"></i><span class="sr-only">Buy some merch at the BOZO Squad Gaming Community Store</span></a>
            </div>
        </div>
    </div>
</div>
